.App-About{
  margin-top:0;
  background-image: url(../media/StockJacket3.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-attachment: fixed;
  min-height:100vh;
  overflow: hidden;
}

.App-Home img{
  min-height:100%;
  background-attachment: fixed;
}
.page-title{
  margin-left:0;
}

.about-text{
  font-size: 26px;
  color:white;
  line-height: 8rem;
  max-width: 75vw;
  margin-left:0;
}

@media (max-width:500px){
  .page-title{
    font-size:1.5rem;
  }
  .about-text{
    font-size: 1rem;
    top: 0;
    line-height:3rem;
  }
}