.cart{
  border:1px solid black;
  width:65%;
  transition:1s;
  height:100%;
  position:fixed;
  margin-left:10rem;
  right:-100%;
  top:0;
  z-index:2;
  font-size:28px;
  text-align:center;
  background-color: white;
  box-shadow: 10px 20px 20px 25px;
  visibility: hidden;
  scroll-behavior: smooth;
}

.cart-header{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.cart-header button{
  width:3rem;
  height:3rem;
  border:transparent;
  font-size:1.5rem;
  background-color: inherit;
  margin-top:1rem;
  margin-right:3rem;
}
.cart-header button:hover{
  cursor:pointer;
}

.close-cart{
  margin-right:5rem;
  margin-top:2rem;
  margin-left:0rem;
}
.close-cart:hover{
  cursor:pointer;
}

.cart-item-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom:2rem;
  
}
.cart-item-listing{
  font-size:16px;
  text-emphasis: 100;
  text-align: left;
}

.cart-item-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align:center;
}
.cart-pic{
  max-height:8rem;
  max-width:8rem;
}

.cart-count{
  display:flex;
  flex-direction: row;
  padding:2px;
  line-height:1.6rem;
}
.cart-count button{
  width:3rem;
  height:2rem;
  margin-right:4rem;
  margin-left: 4rem;
  border:none;
  background-color: hsl(100,30%,50%);
  color:white;
  font-size: 1.3rem;
  border-radius:5px;
}
.cart-count button:hover{
  cursor:pointer;
  background-color: hsl(100,30%,40%);
}

.visible{
  visibility:visible;
  z-index: 2;
  transform-origin: 100% 50%;
  transform:translateX(-150%);
  transition:1s;
  overflow-y: scroll;
  height:100vh;
}

.hidden{
  opacity:0.5;
}

.hidden-button{
  opacity:0.5;
  z-index:-1 !important;
  cursor:default !important;
  pointer-events:none !important;
}

.pseudo-shop-button{
  height:0rem !important;
  visibility:hidden;
  z-index:-2;
}

.pseudo-dummy{
  opacity:0.5;
  visibility:visible !important;
  height:2rem!important;
  z-index:0!important;
  width:7rem;
  font-size: 1rem;
  background-color: hsl(100,30%,50%);
  color:white;
  border:none;
  border-radius:50px;
  margin-top:0.9rem;
}
  
@media(max-width:700px){
  .cart{
    height:200rem;
    top:0;
    z-index: 2;
  }
  .close-cart{
    margin-right:2rem;
    line-height: 3.2rem;
  }
  .visible{
    overflow-y: scroll;
    height:100vh;
    scroll-behavior: smooth;
  }
}