@import 'nav.css';
@import 'cart.css';
@import 'shop.css';
@import 'home.css';
@import 'about.css';
@import 'footer.css';

html{
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width:100%;
  height:100%;
  margin:0px;
  padding:0px;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

