
.shop-card-div{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:2px;
  align-content: center;
  padding: 2rem;
  max-width: 100vw;
  margin-right:1rem;
  margin-left:1rem;
  background-color: white;
}

.shop-card{
  min-height:15rem;
  max-width: 50rem;
  margin-bottom:2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.shop-image{
  margin-top:1rem;
  max-height:15rem;
  justify-self: center;
  align-self: center;
}

.shop-button{
  height:2rem;
  width:7rem;
  font-size: 1rem;
  background-color: hsl(100,30%,50%);
  color:white;
  margin-bottom:1rem;
  border:none;
  border-radius:50px;
}

.shop-button:hover{
  cursor:pointer;
  background-color: hsl(100,30%,40%);
}

p{
  margin-top:1px;
  font-weight: bold;
}

@media(max-width:770px){
  .shop-card-div{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:30px;
    align-content: center;
    padding: 2rem;
  }
}

@media(min-width:900px){
  .shop-image{
    margin-top:1rem;
    max-height:15rem;
    justify-self: center;
    align-self: center;
  }
}
@media(min-width:1200px){
  .shop-image{
    margin-top:1rem;
    max-height:20rem;
    justify-self: center;
    align-self: center;
  }
}

@media(max-width:550px){
  .shop-card-div{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:2px;
    align-content: center;
    padding: 0;
    max-width: 100vw;
    margin-right:1rem;
    margin-left:1rem;
    margin-top:-1rem;
    background-color: white;
  }
}

@media (min-width:1500px){
  
  .shop-image{
    min-height:30rem;
  }

  .shop-button{
    min-height:4rem;
    min-width:15rem;
    font-size:2rem;
  }
  .page-title-shop{
    font-size:5rem;
  }

  p{
    margin-top:1px;
    font-weight: bold;
    font-size:2rem;
  }
}
